extends layout


//- General hackathon page
block content
	.boxflex
		.hack-left
			p
				img.hacks-img(src= hack.imageUrl, alt="maybesomeimage", srcset="")
		.hack-right
			h1.hacks-head #{hack.name}
			|
			p.hacks-date Date: #{hack.startDate} – #{hack.endDate}
			p.hacks-location Location: #{hack.location}
			.hacks-btn-center
				a#button-wrap(href=`/hacks/add?hack=${hack.name}&userid=${user.id}`)
					button.hacks-btn Add Me
	
	#registrations
		.regis-user#user-desc
				.regis-item Username
				.regis-item Techstack
				.regis-item GitHub
				.regis-item Mail Me
		each hackUser in users
			.regis-user
				.regis-item #{hackUser.profile.name}
				.regis-item #{hackUser.profile.techstack}
				.regis-item #{hackUser.profile.github}
				.regis-item
					a(href=`mailto:${hackUser.email}?subject=Request to join my team&body=
						Hey, this is ${hackUser.profile.name}. I found your profile on Hackmate. Would you like to team up for ${hack.name}? My skills are: ${hackUser.profile.techstack}.%0A
						If so, go to this URL: localhost:8080/accept?hack=${hack.name}%26teamOwner=${user.id}%26teamUser=${hackUser.id}
						`)
						button#mail Email
	


