extends layout


//- General hackathon page
block content
	.boxflex
		.hack-left
			p
				img.hacks-img(src= hack.imageUrl, alt="maybesomeimage", srcset="")
		.hack-right
			h1.hacks-head #{hack.name}
			|
			p.hacks-date Date: #{hack.startDate} – #{hack.endDate}
			p.hacks-location Location: #{hack.location}
			.hacks-btn-center
				a#button-wrap(href=`/hacks/add?hack=${hack.name}&userid=${user.id}`)
					button.hacks-btn Add Me
	
	ul
		each user in users
			li #{user.profile.name}
			li #{user.profile.techstack}
			li #{user.profile.github}
	#registrations
		//- name
		//- techstack
		//- mailto
		//- github
	


